<header class="masthead w-100">
  <div class="inner">
    <nav class="nav navbar  navbar-expand-md navbar-dark bg-dark nav-masthead justify-content-center ">
      <a class="navbar-brand masthead-brand text-center" href="/">
        <img src="../assets/img/logo.png" alt="">
      </a>
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" href="/dashboard">Browser</a>
      <a routerLink="/playlist" routerLinkActive="active" class="nav-link" href="/playlist">Playlist</a>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="mastfoot mt-auto text-center">
  <div class="inner">
    <p><a href="">{{title}}</a></p>
  </div>
</footer>