.cover-container {
  max-width: 100%;
}

.masthead {
  margin-bottom: 10px;
}

.navbar-brand > img {
  width: 20%;
}

.nav-masthead .nav-link {
  margin-right: 20px;
  padding: .25rem 0;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #ffED00;
}

.nav-masthead .active {
  color: #ffED00;
  border-bottom-color: #ffED00;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
    margin-right: 80% !important;
  }

  .navbar-brand > img {
    width: 100%;
  }
}

.mastfoot .inner a {
  color: rgba(255, 255, 255, 0.5);
}
