/* Create new playlist button */
.creat-npl-btn {
  color: #000000;
  float: left;
  background-color: #ffED00;
  margin-bottom: 2rem;
}

.creat-npl-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.view-playlist {
  color: #000000;
  background-color: #ffED00;
}

.view-playlist:hover {
  background-color: #ffffff;
  color: #000000;
}

.delete-playlist {
  color: #000000;
  background-color: #ffED00;
}

.delete-playlist:hover {
  background-color: #ffffff;
  color: #000000;
}

.edit-playlist-icon {
  padding-left: 20px;
  color: #ffED00;
}

.edit-playlist-icon:hover {
  color: #000000;
}

.modal-btn {
  color: #000000;
  background-color: #ffED00;
}

.modal-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.modal{
  overflow-y: auto;
}

.fa-trash-alt {
  color: #ffED00;
}

.fa-trash-alt:hover {
  color: #000000;
}

/* playlist input field  */
.md-form input[type=text]:focus:not([readonly]) {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
  color: #000000;
}

.md-form input[type=text]:focus:not([readonly]) + label {
  color: #000000;
}

.warningMsg{
  margin-top: 30%;
}

@media (min-width: 48em) {
  .warningMsg{
    margin-top: 8%;
  }
}
