<div class="container">
  <div class="row">
    <div class="col-12">
      <button mdbBtn type="button" class="btn creat-npl-btn" (click)="basicModal.show()" mdbWavesEffect>New playlist
      </button>
      <div *ngIf="playlists.length == 0">
        <p class="text-white text-center warningMsg">You dont have any playlist!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let playlist of playlists;">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <p class="card-text text-center">{{playlist['name']}}<span><a type="btn"
                                                                        (click)="editPlaylist(playlist['name'], playlist['id'])"><i
            class="fas fa-edit edit-playlist-icon"></i></a></span>
          </p>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        <div class="btn-group">
          <button mdbBtn type="button" class="view-playlist"
                  (click)="viewPlaylistDetails(playlist['id'],playlist['name'])"
                  mdbWavesEffect>
            View
          </button>
          <button mdbBtn type="button" class="delete-playlist" (click)="deletePlaylist(playlist['id'])">delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Create new playlist-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div *ngIf="editStatus == 'default'">
          <div class="md-form">
            <div class="md-form ">
              <input #newName type="text" class="form-control" [value]="newNameInputField" id="form" mdbInput>
              <label class="active" for="form">Playlist name</label>
            </div>
          </div>
          <button mdbBtn type="button" class="modal-btn" (click)="cancelBtn()" mdbWavesEffect>Cancel</button>
          <button mdbBtn type="button" class="modal-btn" (click)="addNewPlaylist(newName.value)" mdbWavesEffect>Create
          </button>
        </div>
        <div *ngIf="editStatus == 'edit'">
          <div class="md-form">
            <input #newName mdbInput type="text" id="form1" [value]="newNameInputField" class="form-control">
            <label for="form1" class="">Edit name</label>

          </div>
          <button mdbBtn type="button" class="modal-btn" (click)="cancelBtn()" mdbWavesEffect>Cancel</button>
          <button mdbBtn type="button" class="modal-btn" (click)="updatePlaylistName(playlistId,newName.value)"
                  mdbWavesEffect>save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal view playlist songs-->
<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4>{{playlistName}}</h4>
        <div *ngIf="playlistSongs.length == 0">
          <p class="text-center">You dont have any songs!</p>
        </div>
        <table mdbTable >
          <tbody>
          <tr *ngFor="let playlistSong of playlistSongs;">
            <td>{{playlistSong['songName']}}</td>
            <td><a (click)="deletePlaylistSong(playlistSong['id'])"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="modal-footer">
          <button mdbBtn type="button" class="modal-btn" (click)="basicModal1.hide()" mdbWavesEffect>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
