<div class="container">
  <div>
    <div class="col-12" *ngIf="artist">
      <div class="row">
        <div class="col-4">
          <button mdbBtn type=" btn-sm button" class="btn btn-sm back-btn" (click)="goBack()" mdbWavesEffect><i
            class="fas fa-long-arrow-alt-left fa-4x back-arrow"></i><span></span></button>
        </div>
        <div class="col-6">
          <h2>{{artist.name | uppercase}} </h2>
        </div>
      </div>
    </div>
  </div>
  <table mdbTable>
    <thead class="text-center">
    <th scope="col">Songs Name</th>
    <th scope="col">Add to playList</th>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let song of song;" class="text-center">
      <th scope="row" class="text-white">{{song.name}}</th>
      <th scope="row" class="text-white"><a class="add-btn" (click)="addToPlaylist.toggle()" mdbWavesEffect><i
        class="fas fa-plus-square add-song-btn"></i></a>
        <div mdbCollapse #addToPlaylist="bs-collapse">
          <div *ngIf="playlists.length == 0">
            <p class="text-white">You dont have any playlist</p><a href="/playlist"
                                                                   class="go-create-playlist">Create Playlist</a>
          </div>
          <table mdbTable class="add-sp">
            <tbody>
            <tr *ngFor="let playlist of playlists;">
              <td class="white-text">{{playlist['name']}}</td>
              <td class="white-text"><a (click)="addSongToPlaylist(playlist['id'], playlist['name'], song.id, song.name)"><i
                class="fas fa-plus-circle add-song-btn"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </th>
    </tr>
    </tbody>
  </table>
</div>
