h2 {
  font-size: 22px;
  color: white;
}

table th {
  color: #ffffff;
}

.table {
  width: 100%;
}

.modal-dialog {
  overflow-y: initial !important
}

.modal-body {
  height: 250px;
  overflow-y: auto;
}

.back-arrow {
  color: #ffED00;
}

.back-arrow:hover {
  color: #ffffff;
}

.back-btn {
  float: left;
  background-color: #000000;
  margin-top: -15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.add-song-btn {
  color: #ffED00;
}

.add-song-btn:hover {
  color: #ffffff;
}

.go-create-playlist {
  color: #ffED00;

}

@media (min-width: 48em) {
  h2 {
    font-size: 45px;
  }

  .table {
    width: 40%;
    margin-left: 35%;
  }

  .add-sp {
    width: 100% !important;
    margin-left: 0% !important;
  }
}
