<div class="container">
  <table mdbTable>
    <div class="md-form ">
      <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
      <label class="active" for="search">Search</label>
    </div>
    <tbody>
    <tr *ngFor="let artist of artists;">
      <td class="white-text">{{artist['name']}}</td>
      <td class="white-text"><a routerLink="/detail/{{artist['id']}}"><i
        class="fas fa-angle-double-right right-arrow-icon"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
