.table {
  width: 100%;
}

.md-form {
  width: 110%;
}

.md-form input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
  color: #ffffff;
}

.md-form input[type=text]:focus:not([readonly]) + label {
  color: #ffffff;
}

.right-arrow-icon{
  color: #ffED00;
}
.right-arrow-icon:hover{
  color: #ffffff;
}

@media (min-width: 48em) {
  .table {
    width: 40%;
    margin-left: 28%;
  }
}
