/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #000000;
  font-family: "Roboto", sans-serif !important;
}

.bg-dark {
  background-color: #000 !important;
}